
.box {
  min-height: 850px;
  width: 10%;
}

div {
  width: 200px;
  float: left;
}
}
.white {
	  background-color: #fff;
	  min-height:25px;
}

.purple {
  background-color:#7D3C98;
}

.red{
  background-color:	#EC7063  ;
}

.navy {
  background-color:	#5D6D7E   ;
}

 { height: 100%; margin: 0; }
div { height: 100%; width: 500%; background: black; }
</style>
<div></div>
